{% extends 'base/base.html' %}
{% comment %}
	Main page of the site
{% endcomment %}

{% block head %}
	<title>Index page</title>
{% endblock %}

{% block body%}
<h1>You have ended up at the homepage of this site</h1>
<blockquote style="background-color: #FBFBFB;
		border:1px solid #ccc;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 5px;
		padding: 4px;">
<h2>Sign Up Now...</h2>
<ul>
<li>Register hospital</li>
<li>Accept and agree to User Terms</li>
<li>Request and get activation code from <span style="color: blue">providers</li>
<li>Login into the system</li>
<li>Download <a href="">user guide</a> from site to continue.</li>
</ul>
</blockquote>
<p>
<h2>The Situation</h2>
<ul>
<li>Finding cost effective ways to provide people with healthcare information, and allow them to ask for information.</li>
<li>SMS an obvious choice as it has a number of attributes making it a particularly suitable communication tool for the health care industry.</li>
<li>Not only is it one of the cheapest ways to communicate, estimated to cost 95% less than any other form of direct communication, but with the increasing ubiquity of mobile phones, the easy-to-use technology makes it a guaranteed channel to reach more people.</li>
</ul>
</p>
<p>
<h2>The Solution</h2>
<ul>
<li>Build a system that allows people needing healthcare information to access it via SMS on their mobile phones.</li>
<li>The system also allows the Health Centres to send information out to people in a variety of ways, to provide facts, reminders, support and alerts.</li>
<li>The SMS-based service allows subscribers to access a wealth of health information via text message.<!-- Users can create their own profile by filling out an online questionnaire focused on common health issues.--></li>
<li>Subscribers receive information and advice via SMS (Short Message Service) on health issues pertinent to their profile, such as information on drinking, smoking and much more.</li>
<!--Alternatively, users can send the system any particular health-related text or phrase to receive facts on a range of topics such as obesity, safe sex or useful information such as the contact details for a 24-hour pharmacy.-->
</li>
</ul>
</p>
<p>
<h2>The Results</h2>
<ul>
<li>The costs involved in printing and distributing information in traditional printed form can vary and actual penetration into the target audience is often less than 1%.</li>
<li>By comparison SMS messages cost mere pennies and are targeted directly to the mobile phone of the user and so have a penetration into the target audience of +90%.</li>
<li>This simple example shows a saving of between 50-60% in production and distribution of key messages using SMS as a delivery system.</li>
<li>This SMS method would allowed healthcare organizations to deliver health information on demand 24 hours a day directly to the mobile phone of the person who needs the information - This is powerful and often life changing.</li>
</ul>
</p>
{% endblock %}
